.card__container {
	padding: 10px;
}

.card__tittle {
    margin-bottom: 30px;
	text-align: center;
	font-size: 54px;
    color: #eee;
}

.card__list{
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	position: relative;
	
	
}

.card__list li {
	font-size: 20px;
    border-radius: 25px;
    border: thick  groove  rgb(	238, 238, 238);
    background-color:rgb(31, 39, 56, 0.7);
	padding: 20px;
	color: #eee;
	text-align: center;
	position: relative;
	opacity: 0.5;
	cursor: pointer;
	
}

.card__list h3 {
	font-size: 15px;
	font-weight: 200;
}
.card__list li:hover {
	opacity: 1;
	transform:translateY(-10px);
}

.card__image {
    border-radius: 15px;
	height: 150px;
	position: relative;
}

